#root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

:root {
  --cor-fundo: #ffffff;
  --cor-texto: #333333;
  --cor-borda: #e0e0e0;
  --cor-texto-card: #ffffff;


  /* NOVA VARIÁVEL (Branco no modo claro) */
  --cor-fundo-card: #ffffff;
  
  /* --cor-fundo-navbar: #ffffff; */

  /* CORES DA MARCA (LARANJA) */
  --cor-primaria: #f7941d;
  --cor-primaria-hover: #e68a1a;
  --cor-primaria-texto: #333333;

  /* NOVAS CORES (DO AXIAL) */
  --cor-fundo-navbar: #001f3f;    /* Azul Escuro */
  --cor-texto-navbar: #ffffff;     /* Branco */
  --cor-highlight: #ffc631;       /* Amarelo/Dourado */
}
  

@media (prefers-color-scheme: dark) {
  :root {
    --cor-fundo: #1a1a1a;          /* Fundo escuro (o que você tem agora) */
    --cor-texto: #e0e0e0;          /* Texto claro */
    --cor-borda: #333333;         /* Bordas mais escuras */
    --cor-fundo-navbar: #242424;   /* Fundo do Navbar um pouco diferente */
    --cor-texto-card: #ffffff;    /* Texto do card claro */

    /* NOVA VARIÁVEL (Cinza escuro no modo escuro) */
    --cor-fundo-card: #242424;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: justify;
}




body {
  width: 100%;
  padding: 0; 
  margin: 0;
  height: 100%;
  display: flex;
  place-items: center;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}


/* Herda o box-sizing para todos os elementos */
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem; /* Espaçamento entre os cards */
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;
}


.main-container {
  flex-grow: 1;
  padding-bottom: 5rem;
}